# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Dependências e Builds
node_modules/
dist/
target/
.quarkus/
bin/

# IDEs
.vscode/
.idea/
*.swp
*.DS_Store

# --- SEGURANÇA (Chaves RSA) ---
# Ignora as chaves geradas para o JWT em qualquer subpasta de resources
**/src/main/resources/*.pem
# Caso queira ser específico para o back-end:
back-end/src/main/resources/privateKey.pem
back-end/src/main/resources/publicKey.pem

# --- CONFIGURAÇÕES LOCAIS ---
# Ignora arquivos de propriedades que podem conter senhas do Supabase ou banco local
.env
.env.local
back-end/src/main/resources/application-local.properties
back-end/src/main/resources/application-dev.properties